@use '/src/assets/styles/abstract' as a;

.tip-radio {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 1rem;

  @include a.breakpoint(medium) {
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
  }

  &__container {
    position: relative;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
  }

  &__button {
    display: grid;
    place-content: center;
    width: 100%;
    height: 3rem;
    margin: 0;
    appearance: none;
    border-radius: 0.3rem;
    background-color: #00474B;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #9FE8DF;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transform: scale(0);
      border-radius: 0.3rem;
      transition: transform 0.15s ease-in-out;
      background-color: #26C2AE;
    }

    &:checked::before {
      transform: scale(1);
    }

    &:checked + .tip-radio__label {
      color: #00474B;
    }

    &:hover + .tip-radio__label {
      color: #00474B;
    }
  }

  &__input {
    font-size: 1.5rem;
    color: #547878;

    &::placeholder {
      text-align: center;
    }
  }
}