@use  '../../assets/styles/abstract' as a;

.button {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  
  &--green {
    color: #00474B;
    background-color: #26C2AE;
    
    &:hover {
      background-color: #9FE8DF;
    }
  }
}