@use  '../../../assets/styles/abstract' as a;

.text-input {
  display: grid;
  gap: 0.25rem;

  &__field {
    width: 100%;
    padding: 0.4rem 1rem;
    font-weight: 700;
    text-align: right;
    background-color: #F3F9FA;
    border-radius: 0.3rem;
    border: 2px solid transparent;
    outline: none !important;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::placeholder {
      opacity: 0.4;
    }

    &:focus {
      border: 2px solid #26C2AE;
    }

    &--error,
    &--error:focus {
      border: 2px solid #E17052;
    }
  }

  &__error-icon {
    display: none;
    position: absolute;
    right: 1.25rem;
    bottom: 2.90rem;
  }

  &__status {
    text-align: left;
    font-size: 0.75rem;
    //color: a.$clr-errors;
  }
}