// Colors

// Main Colors

// Green
$clr-green-500: #3D6666;

// Shadows
$clr-box-shadow: 0 32px 43px 0 rgba(79, 166, 175, 0.20);

// Neutrals
$clr-white: #ffffff;
$clr-black: #000000;

// Specific Colors
$clr-background: #C5E4E7;
